@charset "utf-8";
/*=============== classy.css ===============*/
/* Some random stuff designed by dean gadberry */

@font-face {
  font-family: Roboto;
  src: url("../fonts/RobotoSlabMedium-vmAEA.ttf");
}
* {
  font-family: Roboto;
}
#manudiv{
  width:23%;
  background-color: ;
}
#listdiv{
                /* Light Blue */
  background-color: #E3E9FF;
                      /* Dark Blue */
  border-left: 4px solid #668CD9;
  padding-bottom: 4px;
}
h1 {
                          /* Gray */
  text-shadow: 2px 2px 1px #AFAFAF;
  font-size: 40px;
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 34px;
}
li {
  font-weight: bold;
  font-size: 28px;
}
#imageandcalendarcontainer {
  display: flex;
  flex-direction: column;
  height: 87%;
  width: 75%;
  position: absolute;
  top: 0px;
  right: 0px;
}
#centeredlogo {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#calendar {
  width: 58%;
  left: calc(21% - 9px);
  transform: scale(1.72, 1.72);
  height: 58%;
  position: relative;
  top: 20%;
  bottom: 50%;
  border: 0;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}
